.scene {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  perspective: 200rem;
}

.scene .card {
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
  transition: 0.45s ease-in-out;
  transform-style: preserve-3d;
  display: flex;
}

.card-flip:hover,
.scene:hover > .card-flip {
  transform: rotateY(180deg);
  transition-duration: 0.5s;
}

.card-fold-down .card-face-front:hover,
.scene:hover .card-fold-down .card-face-front {
  transform: translateY(50%) scaleY(0);
  transition-duration: 0.5s;
}

.card-fold-right-bottom .card-face-front:hover,
.scene:hover .card-fold-right-bottom .card-face-front {
  transform: translateY(50%) TranslateX(50%) scaleY(0) scaleX(0);
  transition-duration: 0.5s;
}

.card-fold-right-top .card-face-front:hover,
.scene:hover .card-fold-right-top .card-face-front {
  transform: translateY(-50%) TranslateX(50%) scaleY(0) scaleX(0);
  transition-duration: 0.5s;
}

.card-fold-right .card-face-front:hover,
.scene:hover .card-fold-right .card-face-front {
  transform: TranslateX(50%) scaleX(0);
  transition-duration: 0.5s;
}

.scene .card .card-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: 0.5s ease-in-out;
}

.scene .card-flip .card-face-back {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #333333;
  padding: 15px;
  box-sizing: border-box; 
  font-weight: 900;
  transform: rotateY(0.5turn);
}

.scene .card-fold .card-face-back {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #333333;
  padding: 15px;
  box-sizing: border-box; 
  font-weight: 900;
}

.scene .card-fold .card-face-front {
  z-index: 1;
}