html {
  margin: 0px;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
body {
  background: rgba( 0, 0, 0, 0.1);
  margin: 0px;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

button {
  background-color: #4d99f7;

  border-radius: 0.25em;
  border: 0;
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: #fff;
  font-size: 1.5rem;
}

button:hover {
  background-color: #09265b;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.scrollable {
  overflow: auto;
}

.social-link {
  margin: 0.2em;
  font-size: 3em !important;
}

.social-link:hover {
  color: #4d99f7;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}