.main-content {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2.5%;
  height: 40vw;
  
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-gap: 0px;
}

.item {
  padding: 1rem;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #929796;
  background-color: #333;
}

/* BSA */
.bsa-logo {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bsa-logo-front {
  background-color: #ffffff;
}

.bsa-logo img {
  height: 50%;
  width: 50%;
}

/* JS */
.js-logo {
  grid-column-start: 9;
  grid-column-end: 17;
  grid-row-start: 1;
  grid-row-end: 13;
}

.js-logo-front {
  background-color: #f1d079;
  font-size: 6em;
  font-weight: 900;
  color: #333;
}

.js-logo-front-text {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* PHP */
.php-logo {
  grid-column-start: 17;
  grid-column-end: 33;
  grid-row-start: 1;
  grid-row-end: 7;
}

.php-logo-front {
  background-color: #8a93bc;
  font-size: 5em;
  font-style: italic;
  color: #333;
}

/* QA */
.qa-logo {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 17;
}

.qa-logo-front {
  background-color: #70bc7e;
  font-size: 6em;
  color: #ffffff;
}

/* Java */
.java-logo {
  grid-column-start: 9;
  grid-column-end: 17;
  grid-row-start: 13;
  grid-row-end: 17;
}

.java-logo-front {
  background-color: #cf3e50;
  font-size: 3em;
  color: #ffffff;
}

/* .NET */
.dotnet-logo {
  grid-column-start: 17;
  grid-column-end: 28;
  grid-row-start: 7;
  grid-row-end: 17;
}

.dotnet-logo-front {
  background-color: #5c2773;
  font-size: 5.5em;
  color: #ffffff;
}

/* Events */
.events-logo {
  grid-column-start: 28;
  grid-column-end: 33;
  grid-row-start: 7;
  grid-row-end: 11;
}

.events-logo-front {
  background-color: #4d99f7;
}

/* Blog */
.blog-logo {
  grid-column-start: 28;
  grid-column-end: 33;
  grid-row-start: 11;
  grid-row-end: 15;
}

.blog-logo-front {
  background-color: #18449d;
}

/* Contacts */
.contacts-logo {
  grid-column-start: 28;
  grid-column-end: 33;
  grid-row-start: 15;
  grid-row-end: 17;
}

.contacts-logo-front {
  background-color: #09265b;
}

.contacts-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}