@media all and (min-width: 768px) and (max-width: 1280px) {
  .social-link {
    margin: 0.2em;
    font-size: 2em !important;
  }

  .main-content {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2.5%;
    height: 60vw;
    
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-gap: 0px;
  }

  .bsa-logo {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 9;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .js-logo {
    grid-column-start: 9;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 9;
  }

  .events-logo {
    grid-column-start: 15;
    grid-column-end: 19;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .blog-logo {
    grid-column-start: 15;
    grid-column-end: 19;
    grid-row-start: 4;
    grid-row-end: 7;
  }

  .contacts-logo {
    grid-column-start: 15;
    grid-column-end: 19;
    grid-row-start: 7;
    grid-row-end: 9;
  }

  .java-logo {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 9;
    grid-row-end: 13;
  }

  .php-logo {
    grid-column-start: 10;
    grid-column-end: 19;
    grid-row-start: 9;
    grid-row-end: 13;
  }

  .qa-logo {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 13;
    grid-row-end: 17;
  }

  .dotnet-logo {
    grid-column-start: 10;
    grid-column-end: 19;
    grid-row-start: 13;
    grid-row-end: 17;
  }
}

@media all and (max-width: 786px) {
  html {
    height: 100%;
    box-sizing: border-box;
  }

  body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
  }

  footer {
    position: static !important;
  }

  .social-link {
    margin: 0.2em;
    font-size: 3em !important;
  }

  .notification:not(:hover) {
    width: 2em;
  }

  .notification > .content {
    display: none !important;
  }

  .notification:hover .content {
    display: flex !important;
  }

  .main-content {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2.5%;
    padding-bottom: 15.5%;
    height: 360vw;
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-gap: 0px;
  }

  .bsa-logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .js-logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 6;
  }

  .java-logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 8;
  }

  .php-logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 10;
  }

  .qa-logo {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 10;
    grid-row-end: 12;
  }

  .dotnet-logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 12;
    grid-row-end: 14;
  }

  .events-logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 14;
    grid-row-end: 15;
  }

  .blog-logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 15;
    grid-row-end: 16;
  }

  .contacts-logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 16;
    grid-row-end: 17;
  }
}
