@keyframes navbar-appearance {
  0% { 
    transform: translateY(-100%);
  }
  100% { 
    transform: translateX(0);
  }
}

@keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }

  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
}


nav {
  height: 75px;
  animation-name: navbar-appearance;
  animation-duration: 1s;
  padding-left: 10%;
  padding-right: 10%;
  position: -webkit-sticky;  
  position: sticky;
  top: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  z-index: 2;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

nav > img {
  height: 75%;
}

.navbar-menu > i {
  opacity: 0.25;
  margin-right: 30px;
  font-size: 1.45rem;
  cursor: pointer;
}

.navbar-menu > i:hover {
  animation-name: ring;
  animation-duration: 5s;
}

.navbar-menu > label > span {
  display: block;
}

.navbar-menuitem-profile {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 8px;

  background-color: #e6a734;
  color: #ffffff;
  text-align: center;

  font: 28px Arial, sans-serif;
}

i:hover {
  opacity: 0.5;
}

.navbar-menuitem-profile:hover {
  background-color: #fcaa13;
}

.navbar-menuitem-profile {
  font-size: 0;
}

.navbar-menuitem-profile::first-letter {
  font-size: 1.75rem;
}

.navbar-menuitem-profile {
  cursor: pointer;
}