@keyframes navbar-popover-appearance {
  0% { 
    transform: translateY(-50%) translateX(50%) scaleY(0) scaleX(0);
  }
  100% { 
    transform: translateX(0) translateY(0);
  }
}

input[type="checkbox"]:not(:checked) + label + div { 
  display: none;
}

.navbar-menu-profile-popover {
  position: absolute;
  display: flex;
  top: 65px;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px rgba(51, 51, 51, 0.25), -5px 4px 5px rgba(51, 51, 51, 0.25);
  padding: 10px 20px;
  right: 10%;
  flex-direction: column;
  animation-name: navbar-popover-appearance;
  animation-duration: 1s;
  /* align-items: center; */
}

.profile-name {
  font-size: 1.25rem;
  padding: 0 10px;
  color: grey;
  text-align: center;
}

.navbar-menu-profile-popover hr {
  width: 100%;
  text-align: left;
  margin-left: 0;
  border: 1px solid grey;
}

.navbar-menu-profile-popover a {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 5px 10px;
}

.navbar-menu-profile-popover a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar-menu-profile-popover .profile-image {
  border-radius: 50%;
  display: inline-block;
  height: 10em;
  width: 10em;
  margin: 1em;
  text-align: center;
  align-self: center;
}

.navbar-menu-profile-popover i {
  font-size: 2rem;
}

.navbar-menu-profile-popover button {
  background-color: #ffffff;
  color: black;
  border-radius: 50%;
  padding: 0;
  height: 2em;
  width: 2em;
  border: solid black 1px;

  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-75%, -50%);
}

.navbar-menu-profile-popover button:hover {
  opacity: 0.8;
  box-shadow: 5px 5px 5px rgba(51, 51, 51, 0.25), -5px 4px 5px rgba(51, 51, 51, 0.25);
}

.navbar-menu-profile-popover button:focus { 
  outline: none; 
}