.notifications {
  position: fixed;
  right: 0;
  bottom: 2%;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.notification {
  border-radius: 0.25em;
  padding: 1em;
  width: 12em;
  margin: 0.25em;
  color: white;
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.notification > i {
  font-size: 2em;
}

.notification > .content {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}

.notification > .content > .header {
  font-weight: 900;
}

.success {
  background-color: #6bab69;
  opacity: 0.75;
}

.error {
  background-color: #c3534e;
  opacity: 0.75;
}

.warning {
  background-color: #faa045;
  opacity: 0.75;
}